{
    "openapi": "3.0.2",
    "info": {
        "title": "Employee's cabinet",
        "version": "0.24.0",
        "description": "",
        "contact": {
            "name": "Yandex Practicum Students Team"
        }
    },
    "servers": [
        {
            "url": "https://ecabinet.acceleratorpracticum.ru/api/v1"
        }
    ],
    "paths": {
        "/health": {
            "get": {
                "responses": {
                    "200": {
                        "description": "The server is up and running"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "operationId": "health",
                "description": "Check if the server is up and running"
            }
        },
        "/users/{user_id}/contracts": {
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/Contract"
                                            },
                                            {
                                                "required": [
                                                    "id",
                                                    "has_scan",
                                                    "date_from",
                                                    "type",
                                                    "number"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Employee contracts list response"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "listContracts",
                "description": "Returns list of employee's contracts"
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/Contract"
                                    },
                                    {
                                        "required": [
                                            "date_from",
                                            "type",
                                            "number"
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "headers": {
                            "Location": {
                                "schema": {
                                    "format": "uri",
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Employee contract added response,\nLocation header returns a new employee contract URL"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "Add contract conflict response: the contract already exists"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "addContract",
                "description": "Creates a new employee's contract"
            },
            "parameters": [
                {
                    "name": "user_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/users/{user_id}/contracts/{contract_id}": {
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Contract"
                                        },
                                        {
                                            "required": [
                                                "id",
                                                "has_scan",
                                                "date_from",
                                                "type",
                                                "number"
                                            ]
                                        }
                                    ]
                                }
                            }
                        },
                        "description": "Employee contract response"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Employee/contract not found response"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "getContract",
                "description": "Returns the employee's contract based on ID"
            },
            "delete": {
                "responses": {
                    "200": {
                        "description": "Employee contract deleted response (empty)"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "deleteContract",
                "description": "Deletes the employee's contract based on ID"
            },
            "patch": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/Contract"
                                    },
                                    {
                                        "minProperties": 1
                                    }
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Employee contract updated response (empty)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "patchContract",
                "description": "Changes selected fields in the employee's contract structure based on ID"
            },
            "parameters": [
                {
                    "name": "user_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                },
                {
                    "name": "contract_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/users/{user_id}/passports/{passport_id}/visas/{visa_id}": {
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Visa"
                                        },
                                        {
                                            "required": [
                                                "id",
                                                "has_scan",
                                                "number",
                                                "issued_state",
                                                "valid_to",
                                                "valid_from",
                                                "number_entries"
                                            ]
                                        }
                                    ]
                                }
                            }
                        },
                        "description": "Employee visa response"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Employee/passport/visa not found response"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "getVisa",
                "description": "Returns the employee's visa based on ID"
            },
            "delete": {
                "responses": {
                    "200": {
                        "description": "Employee visa deleted response (empty)"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "deleteVisa",
                "description": "Deletes the employee's visa based on ID"
            },
            "patch": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/Visa"
                                    },
                                    {
                                        "minProperties": 1
                                    }
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Employee visa updated response (empty)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "patchVisa",
                "description": "Changes selected fields in the employee's visa structure based on ID"
            },
            "parameters": [
                {
                    "name": "user_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                },
                {
                    "name": "passport_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                },
                {
                    "name": "visa_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/users/{user_id}/passports/{passport_id}/visas": {
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/Visa"
                                            },
                                            {
                                                "required": [
                                                    "id",
                                                    "has_scan",
                                                    "number",
                                                    "issued_state",
                                                    "valid_to",
                                                    "valid_from",
                                                    "number_entries"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "List employee visas for this passport"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Employee/passport not found response"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "listVisas",
                "description": "Returns list of employee's visas"
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/Visa"
                                    },
                                    {
                                        "required": [
                                            "number",
                                            "issued_state",
                                            "valid_to",
                                            "valid_from",
                                            "number_entries"
                                        ]
                                    }
                                ]
                            },
                            "examples": {
                                "New visa example": {
                                    "value": {
                                        "number": "33592222",
                                        "issued_state": "Spain",
                                        "valid_to": "2017-09-22",
                                        "valid_from": "2017-10-08",
                                        "number_entries": "1"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "headers": {
                            "Location": {
                                "schema": {
                                    "format": "uri",
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Employee visa added response,\nLocation header returns a new employee visa URL"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "addVisa",
                "description": "Creates a new employee's visa"
            },
            "parameters": [
                {
                    "name": "user_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                },
                {
                    "name": "passport_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/users/{user_id}/vacations/{vacation_id}": {
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Vacation"
                                        },
                                        {
                                            "required": [
                                                "id",
                                                "date_from",
                                                "date_to"
                                            ]
                                        }
                                    ]
                                }
                            }
                        },
                        "description": "Employee vacation response"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Employee/vacation not found response"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "getVacation",
                "description": "Returns the employee's vacation based on ID"
            },
            "delete": {
                "responses": {
                    "200": {
                        "description": "Vacation deleted response (empty)"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "deleteVacation",
                "description": "Deletes the employee's vacation based on ID"
            },
            "patch": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/Vacation"
                                    },
                                    {
                                        "minProperties": 1
                                    }
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Vacation updated response"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "patchVacation",
                "description": "Changes selected fields in the employee's vacation structure based on ID"
            },
            "parameters": [
                {
                    "name": "user_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                },
                {
                    "name": "vacation_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/users/{user_id}/vacations": {
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/Vacation"
                                            },
                                            {
                                                "required": [
                                                    "id",
                                                    "date_from",
                                                    "date_to"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Employee vacations list response"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "listVacations",
                "description": "Returns list of employee's vacations"
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/Vacation"
                                    },
                                    {
                                        "required": [
                                            "date_from",
                                            "date_to"
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "headers": {
                            "Location": {
                                "schema": {
                                    "format": "uri",
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Employee vacation added response, \nLocation header returns vacation URL"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "409": {
                        "description": "Add vacation conflict response: the dates indicated conflict with the available ones"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "addVacation",
                "description": "Creates a new employee's vacation"
            },
            "parameters": [
                {
                    "name": "user_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/users/{user_id}/scans": {
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/Scan"
                                            },
                                            {
                                                "required": [
                                                    "id",
                                                    "type",
                                                    "upload_at"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "examples": {
                                    "Scans list example": {
                                        "value": [
                                            {
                                                "id": 7,
                                                "upload_at": "2019-03-10T09:30Z",
                                                "type": "passport",
                                                "document_id": 7
                                            },
                                            {
                                                "id": 81,
                                                "upload_at": "2018-02-10T09:30Z",
                                                "type": "baby_birth",
                                                "description": "not verified by social services"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Employee scans list response"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Employee not found response"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "listScans",
                "description": "Returns list of employee's document scans"
            },
            "post": {
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "type",
                                    "fileName"
                                ],
                                "type": "object",
                                "properties": {
                                    "type": {
                                        "$ref": "#/components/schemas/ScanType"
                                    },
                                    "document_id": {
                                        "type": "integer"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "fileName": {
                                        "format": "binary",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "headers": {
                            "Location": {
                                "schema": {
                                    "format": "uri",
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Scan uploaded response, \nLocation header returns scan URL"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "uploadScan",
                "description": "Creates a new employee's document scan"
            },
            "parameters": [
                {
                    "name": "user_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/departments": {
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/Department"
                                            },
                                            {
                                                "required": [
                                                    "id",
                                                    "users_number",
                                                    "name"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "examples": {
                                    "Departments": {
                                        "value": [
                                            {
                                                "name": "HR department",
                                                "users_number": 5,
                                                "selected_users_number": 0,
                                                "id": 7
                                            },
                                            {
                                                "name": "Accounts department",
                                                "users_number": 4,
                                                "selected_users_number": 1,
                                                "id": 3
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Departments list response"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "listDepartments",
                "description": "Returns a list of company departments with the number of employees"
            }
        },
        "/users/{user_id}/educations": {
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/Education"
                                            },
                                            {
                                                "required": [
                                                    "id",
                                                    "has_scan",
                                                    "date_from",
                                                    "date_to",
                                                    "program",
                                                    "issued_institution"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Employee education list response"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "listEducations",
                "description": "Returns list of employee's educations"
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/Education"
                                    },
                                    {
                                        "required": [
                                            "date_from",
                                            "date_to",
                                            "issued_institution",
                                            "program"
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "headers": {
                            "Location": {
                                "schema": {
                                    "format": "uri",
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Employee education added response,\nLocation header returns a new employee education URL"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "Add education conflict response: the education already exists"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "addEducation",
                "description": "Creates a new employee education"
            },
            "parameters": [
                {
                    "name": "user_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/users/{user_id}/educations/{education_id}": {
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Education"
                                        },
                                        {
                                            "required": [
                                                "id",
                                                "has_scan",
                                                "date_from",
                                                "date_to",
                                                "issued_institution",
                                                "program"
                                            ]
                                        }
                                    ]
                                }
                            }
                        },
                        "description": "Employee education response"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Employee/education not found response"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "getEducation",
                "description": "Returns the employee education based on ID"
            },
            "delete": {
                "responses": {
                    "200": {
                        "description": "Employee education deleted response (empty)"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "deleteEducation",
                "description": "Deletes the employee education based on ID"
            },
            "patch": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/Education"
                                    },
                                    {
                                        "minProperties": 1
                                    }
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Employee education updated response (empty)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "patchEducation",
                "description": "Changes selected fields in the employee education structure based on ID"
            },
            "parameters": [
                {
                    "name": "user_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                },
                {
                    "name": "education_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/users/{user_id}/trainings": {
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/Training"
                                            },
                                            {
                                                "required": [
                                                    "id",
                                                    "has_scan",
                                                    "date_from",
                                                    "date_to",
                                                    "cost",
                                                    "issued_institution",
                                                    "program"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Employee training list response"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "listTrainings",
                "description": "Returns list of employee trainings"
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/Training"
                                    },
                                    {
                                        "required": [
                                            "date_from",
                                            "date_to",
                                            "cost",
                                            "issued_institution",
                                            "program"
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "headers": {
                            "Location": {
                                "schema": {
                                    "format": "uri",
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Employee training added response,\nLocation header returns a new employee training URL"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "Add training conflict response: the training already exists"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "addTraining",
                "description": "Creates a new employee training"
            },
            "parameters": [
                {
                    "name": "user_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/users/{user_id}/trainings/{training_id}": {
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Training"
                                        },
                                        {
                                            "required": [
                                                "id",
                                                "has_scan",
                                                "date_from",
                                                "date_to",
                                                "cost",
                                                "issued_institution",
                                                "program"
                                            ]
                                        }
                                    ]
                                }
                            }
                        },
                        "description": "Employee training response"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Employee/training not found response"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "getTraining",
                "description": "Returns the employee training based on ID"
            },
            "delete": {
                "responses": {
                    "200": {
                        "description": "Employee training deleted response (empty)"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "deleteTraining",
                "description": "Deletes the employee training based on ID"
            },
            "patch": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/Training"
                                    },
                                    {
                                        "minProperties": 1
                                    }
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Employee training updated response (empty)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "patchTraining",
                "description": "Changes selected fields in the employee training structure based on ID"
            },
            "parameters": [
                {
                    "name": "user_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                },
                {
                    "name": "training_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/login/init-change-password": {
            "post": {
                "requestBody": {
                    "description": "Login (email) to get recovery key on email",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InitChangePasswordRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Change password response (empty)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "description": "Employee not found"
                    },
                    "429": {
                        "description": "Too many request response"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "operationId": "initChangePassword",
                "description": "Accepts a login and sends the key to change the password to the user email."
            }
        },
        "/login/change-password": {
            "get": {
                "parameters": [
                    {
                        "examples": {
                            "Key": {
                                "value": "0LzQsNC80LAg0LzRi9C70LAg0YDQsNC80YM="
                            }
                        },
                        "name": "key",
                        "description": "a special key sent to the employee’s email",
                        "schema": {
                            "format": "byte",
                            "maxLength": 36,
                            "minLength": 36,
                            "type": "string"
                        },
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Check a change password key response (empty)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "429": {
                        "description": "Too many request response"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "operationId": "checkKey",
                "description": "Checks a password change key that was sent to the user email"
            },
            "post": {
                "requestBody": {
                    "description": "A Key and a new password to change password",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ChangePasswordRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Change password response (empty)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "description": "Employee not found"
                    },
                    "429": {
                        "description": "Too many request response"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "operationId": "changePassword",
                "description": "Accepts a key and a new password and changes it."
            }
        },
        "/login": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Auth"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "headers": {
                            "Set-Cookie": {
                                "examples": {
                                    "ecabinet:token": {
                                        "value": "v4.public.eyJkYXRhIjoidGhpcyBpcyBhIHNpZ25lZCBtZXNzYWdlIiwiZXhwIjoiMjAyMi0wMS0wMVQwMDowMDowMCswMDowMCJ9v3Jt8mx_TdM2ceTGoqwrh4yDFn0XsHvvV_D0DtwQxVrJEBMl0F2caAdgnpKlt4p7xBnx1HcO-SPo8FPp214HDw"
                                    }
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "access_token",
                                        "token_type"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "access_token": {
                                            "description": "The access token issued by the server",
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "description": "The type of the token issued",
                                            "type": "string"
                                        },
                                        "expires_in": {
                                            "description": "The lifetime in seconds of the access token",
                                            "type": "integer"
                                        }
                                    }
                                },
                                "examples": {
                                    "Example": {
                                        "value": {
                                            "access_token": "v4.public.eyJkYXRhIjoidGhpcyBpcyBhIHNpZ25lZCBtZXNzYWdlIiwiZXhwIjoiMjAyMi0wMS0wMVQwMDowMDowMCswMDowMCJ9v3Jt8mx_TdM2ceTGoqwrh4yDFn0XsHvvV_D0DtwQxVrJEBMl0F2caAdgnpKlt4p7xBnx1HcO-SPo8FPp214HDw.eyJraWQiOiJ6VmhNaVBCUDlmUmYyc25FY1Q3Z0ZUaW9lQTlDT2NOeTlEZmdMMVc2MGhhTiJ9",
                                            "token_type": "bearer",
                                            "expires_in": 3600
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Successful authentication response: access token"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "operationId": "login",
                "description": "Authenticates a user and returns an access token on success"
            }
        },
        "/users": {
            "get": {
                "parameters": [
                    {
                        "examples": {
                            "Limit example": {
                                "value": "50"
                            }
                        },
                        "name": "limit",
                        "description": "maximum number of results to return",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "examples": {
                            "Query": {
                                "value": "\"Иванов\""
                            }
                        },
                        "name": "query",
                        "description": "query to find by",
                        "schema": {
                            "maxLength": 150,
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "Page example": {
                                "value": "2"
                            }
                        },
                        "name": "page",
                        "description": "page number with results to return",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "SortByExample": {
                                "value": "\"alphabet\""
                            }
                        },
                        "name": "sort_by",
                        "description": "type of sort result by",
                        "schema": {
                            "default": "alphabet",
                            "enum": [
                                "alphabet",
                                "department"
                            ],
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "users",
                                        "total_users",
                                        "total_pages",
                                        "current_page"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "users": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/ShortUser"
                                                    },
                                                    {
                                                        "required": [
                                                            "id"
                                                        ],
                                                        "type": "object"
                                                    }
                                                ]
                                            }
                                        },
                                        "total_users": {
                                            "description": "total employee count in company",
                                            "type": "integer"
                                        },
                                        "total_pages": {
                                            "description": "total pages count (based on current limit parameter)",
                                            "type": "integer"
                                        },
                                        "current_page": {
                                            "description": "current page number (based on current limit parameter)",
                                            "type": "integer"
                                        }
                                    }
                                },
                                "examples": {
                                    "List employees example": {
                                        "value": {
                                            "users": [
                                                {
                                                    "first_name": "Alexander",
                                                    "last_name": "Pushkin",
                                                    "middle_name": "Sergeyevich",
                                                    "position": "Novelist",
                                                    "department": "Collegium of Foreign Affairs",
                                                    "email": "pushkin@dantes.net",
                                                    "phone_numbers": {
                                                        "mobile": "79999999999",
                                                        "office": "123456"
                                                    }
                                                },
                                                {
                                                    "first_name": "Nikolai",
                                                    "last_name": "Gogol",
                                                    "middle_name": "Vasilievich",
                                                    "position": "Playwright",
                                                    "department": "Third Section of His Imperial Majesty's Own Chancellery",
                                                    "email": "gogol@fire.net",
                                                    "phone_numbers": {
                                                        "mobile": "79999999999",
                                                        "office": "123456"
                                                    }
                                                }
                                            ],
                                            "current_page": 2,
                                            "total_pages": 2,
                                            "total_users": 16
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Employees list response"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "listUsers",
                "description": "Returns list of company employees sorted alphabetically (default) or by department"
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FullUser"
                            },
                            "examples": {
                                "Post employee example": {
                                    "value": {
                                        "first_name": "Alexander",
                                        "last_name": "Pushkin",
                                        "middle_name": "Sergeyevich",
                                        "gender": "male",
                                        "position": "Novelist",
                                        "department": "Collegium of Foreign Affairs",
                                        "email": "pushkin@dantes.net",
                                        "phone_numbers": [
                                            {
                                                "number": "799183712345",
                                                "type": "mobile"
                                            },
                                            {
                                                "number": "1837",
                                                "type": "office"
                                            }
                                        ],
                                        "foreign_languages": [
                                            "english",
                                            "german"
                                        ],
                                        "military": {
                                            "rank": "Старший лейтенант",
                                            "speciality": "101182",
                                            "category": "А2",
                                            "comissariat": "Военный комиссариат Петроградского района г. Санкт-Петербурга"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "headers": {
                            "Location": {
                                "schema": {
                                    "format": "uri",
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Employee created response, \nLocation header returns a new employee URL"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "Add user conflict response: the user already exists"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "addUser",
                "description": "Creates a new employe in the company"
            }
        },
        "/users/{user_id}/scans/{scan_id}": {
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Scan"
                                        },
                                        {
                                            "required": [
                                                "id",
                                                "type",
                                                "upload_at"
                                            ]
                                        }
                                    ]
                                }
                            }
                        },
                        "description": "Employee document scan response"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Employee/scan not found response"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "getScan",
                "description": "Returns the employee's document scan based on ID"
            },
            "delete": {
                "responses": {
                    "200": {
                        "description": "Employee scan deleted response (empty)"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "deleteScan",
                "description": "Deletes the employee's document scan based on ID"
            },
            "parameters": [
                {
                    "name": "user_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                },
                {
                    "name": "scan_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/users/{user_id}/photo": {
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "image/*": {
                                "schema": {
                                    "format": "binary",
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Employee photo response"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "Employee/scan not found response"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "downloadPhoto"
            },
            "post": {
                "requestBody": {
                    "content": {
                        "image/*": {
                            "schema": {
                                "format": "binary",
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "headers": {
                            "Location": {
                                "schema": {
                                    "format": "uri",
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Photo uploaded response, \nLocation header returns photo URL"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "The server returned an error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "operationId": "uploadPhoto"
            },
            "parameters": [
                {
                    "name": "user_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/users/{user_id}/passports/{passport_id}": {
            "get": {
                "parameters": [
                    {
                        "name": "expanded",
                        "description": "whether to return visas along with user passport data (default - no)",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Passport"
                                        },
                                        {
                                            "required": [
                                                "id",
                                                "number",
                                                "issued_date",
                                                "issued_by",
                                                "type",
                                                "has_scan",
                                                "visas_count"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "visas": {
                                                    "description": "",
                                                    "type": "array",
                                                    "items": {
                                                        "allOf": [
                                                            {
                                                                "$ref": "#/components/schemas/Visa"
                                                            },
                                                            {
                                                                "required": [
                                                                    "id",
                                                                    "has_scan",
                                                                    "number",
                                                                    "issued_state",
                                                                    "valid_to",
                                                                    "valid_from",
                                                                    "number_entries"
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                },
                                "examples": {
                                    "Internal passport example": {
                                        "value": {
                                            "id": 98,
                                            "number": "4011364219",
                                            "issued_date": "2016-05-15",
                                            "issued_by": "ТП № 28 отдела УФМС России по СПб и ЛО",
                                            "type": "internal",
                                            "has_scan": false,
                                            "visas_count": 1
                                        }
                                    },
                                    "Foreigners passport example (expanded)": {
                                        "value": {
                                            "id": 75,
                                            "visas": [
                                                {
                                                    "id": 3,
                                                    "number": "33592222",
                                                    "issued_state": "Russia",
                                                    "valid_to": "2017-09-22",
                                                    "valid_from": "2018-09-22",
                                                    "number_entries": "mult",
                                                    "has_scan": true
                                                }
                                            ],
                                            "number": "33592222",
                                            "issued_date": "2016-05-15",
                                            "issued_by": "Washington D.C. U.S.A.",
                                            "type": "foreigners",
                                            "has_scan": false,
                                            "visas_count": 1
                                        }
                                    },
                                    "Internal passport example (expanded)": {
                                        "value": {
                                            "id": 98,
[...]
